In [1]:
#tuple
"""
*difference between tuple,set and dictionary
-List-
Used for simple data storage
mutable
ordered
indexed
[]
heterogeneus
-Tuple-
used for data that need to be changed during runtime
unmutable
ordered
indexed
()
heter
-set-
used for handling dataset union intersection etc
mutable
unindexed
unordered
values are unique
-Dictionary-
used for storing complex values in a structured tree mannner
mutable
unordered
unindexed
"""

'\n*difference between tuple,set and dictionary\n-List-\nUsed for simple data storage\nmutable\nordered\nindexed\n[]\nheterogeneus\n-Tuple-\nused for data that need to be changed during runtime\nunmutable\nordered\nindexed\n()\nheter\n-set-\nused for handling dataset union intersection etc\nmutable\nunindexed\nunordered\nvalues are unique\n-Dictionary-\nused for storing complex values in a structured tree mannner\nmutable\nunordered\nunindexed\n'

In [2]:
a=(1,2,3,4,5)

In [3]:
a

(1, 2, 3, 4, 5)

In [4]:
print(a)

(1, 2, 3, 4, 5)

In [5]:
a[0]

1

In [6]:
a[4]

5

In [7]:
a[0]=11

TypeError: 'tuple' object does not support item assignment

In [8]:
for i in a:
    print (i)

1
2
3
4
5

In [9]:
a.count(1)

1

In [10]:
a.index(3)

2

In [11]:
type(a)

tuple

In [14]:
al=list(a)#conversion

In [15]:
al

[1, 2, 3, 4, 5]

In [16]:
tuple(al)

(1, 2, 3, 4, 5)

In [17]:
al

[1, 2, 3, 4, 5]

In [18]:
#set

In [21]:
names={'ahmad','prashant','janmejay','nisheeth','jay'}

In [22]:
names

{'ahmad', 'janmejay', 'jay', 'nisheeth', 'prashant'}

In [23]:
type(names)

set

In [24]:
names

{'ahmad', 'janmejay', 'jay', 'nisheeth', 'prashant'}

In [25]:
for name in names:
    print(name)

jay
ahmad
nisheeth
janmejay
prashant

In [26]:
names

{'ahmad', 'janmejay', 'jay', 'nisheeth', 'prashant'}

In [27]:
names.add('prajjwal','falguni','imran','ayush')

TypeError: add() takes exactly one argument (4 given)

In [31]:
names.add('prajwal')

In [32]:
names

{'ahmad',
 'ayush',
 'falguni',
 'imran',
 'janmejay',
 'jay',
 'nisheeth',
 'prajwal',
 'prashant'}

In [33]:
names.update({'aamir','avantika'})

In [34]:
names

{'aamir',
 'ahmad',
 'avantika',
 'ayush',
 'falguni',
 'imran',
 'janmejay',
 'jay',
 'nisheeth',
 'prajwal',
 'prashant'}

In [35]:
namel=list(names)

In [36]:
namel

['avantika',
 'jay',
 'ahmad',
 'imran',
 'falguni',
 'nisheeth',
 'prajwal',
 'aamir',
 'janmejay',
 'prashant',
 'ayush']

In [37]:
x=[1,2,3,4,2,3,1,3,4,1,2,9]

In [38]:
y=set(x)

In [39]:
y

{1, 2, 3, 4, 9}

In [40]:
y=list(y)

In [41]:
y

[1, 2, 3, 4, 9]

In [43]:
a={1,2,3,4,5,6,7,8,9,0}
b={1,3,4}
c={6,7,8}
d={11,12,13,0}
e={1,2,3,11,22,33}

In [44]:
a.issuperset(b)

True

In [46]:
a.issuperset(d)

False

In [47]:
b.issubset(a)

True

In [48]:
a.union(b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [49]:
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [50]:
b

{1, 3, 4}

In [51]:
a.intersection(b)

{1, 3, 4}

In [53]:
b.difference(a)

set()

In [59]:
b.isdisjoint(c)

True

In [60]:
a.pop?

Docstring:
Remove and return an arbitrary set element.
Raises KeyError if the set is empty.
Type:      builtin_function_or_method

In [1]:
a

NameError: name 'a' is not defined

In [8]:
movie_actor={1:'iron man'}

In [9]:
movie_actor[1]

'iron man'

In [10]:
data={
    'a':'alphabet',
    'b':'ballet',
    'c':'chocopie'
}

In [32]:
data={
    'kushagra':10,
    'Amir':9,
    'imran':78,
    'ayush':91,
    'falguni':81
}

In [12]:
data

{'kushagra': 10, 'Amir': 9, 'imran': 78, 'ayush': 91, 'falguni': 81}

In [14]:
data['Amir']

9

In [15]:
data['falguni']

81

In [19]:
data.get('ayush','not found')

91

In [20]:
data.get(10)

In [21]:
data['Ahmad']=78

In [22]:
data

{'kushagra': 10,
 'Amir': 9,
 'imran': 78,
 'ayush': 91,
 'falguni': 81,
 'Ahmad': 78}

In [38]:
data['Ahmad']=78

In [27]:
data.pop('imran')

78

In [29]:
data.popitem()

('Ahmad', 78)

In [35]:
data

{'kushagra': 10, 'Amir': 9, 'imran': 78, 'ayush': 91, 'Ahmad': 78}

In [36]:
data.popitem()

('Ahmad', 78)

In [39]:
products={
    'soap':32,
    'janmejay':10000,
    'Toothpaste':90,
    'Laptop':50000
}

In [40]:
products

{'soap': 32, 'janmejay': 10000, 'Toothpaste': 90, 'Laptop': 50000}

In [41]:
data.values()

dict_values([10, 9, 78, 91, 78])

In [42]:
products.values()

dict_values([32, 10000, 90, 50000])

In [43]:
products.items()

dict_items([('soap', 32), ('janmejay', 10000), ('Toothpaste', 90), ('Laptop', 50000)])

In [50]:
for i in products.values():
    print (i)

32
10000
90
50000

In [52]:
products[input()]=int(input())

 1000
 book

In [53]:
products

{'soap': 32,
 'janmejay': 10000,
 'Toothpaste': 90,
 'Laptop': 50000,
 'book': 1000}

In [54]:
for x,y in data.items():
    print(x,y)

kushagra 10
Amir 9
imran 78
ayush 91
Ahmad 78

In [55]:
sentence='My name is mohd ahmad khan.i am from nautanwa \
bazazr which is located near nepal border i have completed my\
high school from msi intercollege which is located in gorakhpur the city of yogi ji\
after that i went to england for higher studies'

In [56]:
len(sentence)

237

In [70]:
counter={}
alphabets='abcdefghijklmnopqrstuvwxyz'
for char in alphabets:
    counter[char]=sentence.count(char)
    
print('done')

done

In [71]:
print(counter)

{'a': 19, 'b': 2, 'c': 8, 'd': 8, 'e': 18, 'f': 5, 'g': 6, 'h': 16, 'i': 17, 'j': 1, 'k': 2, 'l': 8, 'm': 9, 'n': 11, 'o': 15, 'p': 3, 'q': 0, 'r': 12, 's': 7, 't': 13, 'u': 3, 'v': 1, 'w': 4, 'x': 0, 'y': 4, 'z': 2}

In [77]:
counter={}
words=['to','is','this']
for word in words:
    counter[word]=sentence.count(word)
print('done')

done

In [76]:
print(counter)

{'to': 1, 'is': 3, 'This': 0}